name: Manual Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: false
        default: 'dev'
        type: string
      version:
        description: 'Version number (e.g., v1.0.0)'
        required: true
        type: string

jobs:
  display-params:
    runs-on: ubuntu-latest
    steps:
      - name: Print input values
        run: |
          echo "Selected Environment: ${{ github.event.inputs.environment }}"
          echo "Version to Deploy: ${{ github.event.inputs.version }}"
