name: print-name

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  print-message:
    runs-on: ubuntu-latest

    steps:
      - name: Print a message to the console
        run: echo "The workflow has executed successfully!"
