name: print-name

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  print-message:
    runs-on: ubuntu-latest

    steps:
      - name: Added print-name
        run: echo "Added print-name"
